@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@font-face {
  font-family: "Gilroy-Light";
  src: url("../font/Gilroy-Light.woff2") format("woff2"), url("../font/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../font/Gilroy-ExtraBold.woff2") format("woff2"), url("../font/Gilroy-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "graphik_lcg_bold";
  src: url("../font/graphiklcg-bold-webfont.woff2") format("woff2"), url("../font/graphiklcg-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "graphik_lcg_light";
  src: url("../font/graphiklcg-light-webfont.woff2") format("woff2"), url("../font/graphiklcg-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "graphik_lcg_medium";
  src: url("../font/graphiklcg-medium-webfont.woff2") format("woff2"), url("../font/graphiklcg-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "graphik_lcg_regular";
  src: url("../font/graphiklcg-regular-webfont.woff2") format("woff2"), url("../font/graphiklcg-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.Gilroy__Light, .nav__bottom .flag__bar .dropdown-menu .dropdown-item .dropdown__text {
  font-family: "Gilroy-Light";
}

.Gilroy__ExtraBold {
  font-family: "Gilroy-ExtraBold";
}

.graphik_lcg_bold {
  font-family: "graphik_lcg_bold";
}

.graphik_lcg_light, .mobile .offcanvas .offcanvas-body .serach__menu .form-control, .nav__top .navbar-nav .right .nav-item .nav-link, .nav__top .navbar-nav .nav-item .nav-link {
  font-family: "graphik_lcg_light";
}

.graphik_lcg_medium, .nav__bottom .navbar-nav .nav-item .nav-link {
  font-family: "graphik_lcg_medium";
}

.graphik_lcg_regular {
  font-family: "graphik_lcg_regular";
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.btn,
.form-control {
  box-shadow: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000 !important;
}
a:hover {
  color: #6667AB !important;
}

* {
  transition: 0.2s all;
}

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "graphik_lcg_medium";
}

.container-fluid,
.container {
  padding-left: 0;
  padding-right: 0;
}

header {
  height: 166px;
}

.nav__top {
  padding: 0px 40px;
  border-bottom: 1px solid #E0E1EE;
}
.nav__top .navbar-nav .nav-item .nav-link {
  display: inline-block;
  border-right: 1px solid #E0E1EE;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
}
.nav__top .navbar-nav .nav-item:nth-child(1) {
  width: 22.7rem;
}
.nav__top .navbar-nav .nav-item:nth-child(2) {
  width: 11.1rem;
}
.nav__top .navbar-nav .nav-item:nth-child(3) {
  width: 15.5rem;
}
.nav__top .navbar-nav .nav-item:nth-child(4) {
  width: 15.5rem;
}
.nav__top .navbar-nav .nav-item:nth-child(6) {
  width: 19.6rem;
}
.nav__top .navbar-nav .nav-item:nth-child(7) {
  width: 22rem;
  border-right: none !important;
}
.nav__top .navbar-nav .right .nav-item .nav-link {
  display: inline-block;
  border-right: 1px solid #E0E1EE;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
}
.nav__top .navbar-nav .right .nav-item:nth-child(1) {
  width: 23rem;
}
.nav__top .navbar-nav .right .nav-item:nth-child(1) a {
  border-left: 1px solid #E0E1EE;
}
.nav__top .navbar-nav .right .nav-item:nth-child(2) {
  width: 19.6rem;
}
.nav__top .navbar-nav .right .nav-item:nth-child(3) {
  width: 22rem;
}
.nav__top .navbar-nav .right .nav-item:nth-child(3) a {
  border: none;
}
.nav__top .navbar-nav .form-control {
  border: none;
  border-radius: 0;
  border-right: 1px solid #E0E1EE;
  padding-left: 40px;
}
.nav__top .navbar-nav button {
  top: 50%;
  right: 0;
  translate: 0% -50%;
  margin-right: 31px;
}
.nav__top .navbar-nav button svg {
  fill: #6667AB;
}

.nav__bottom {
  height: 11rem;
  border-bottom: 1px solid #E0E1EE;
}
.nav__bottom .navbar-brand {
  width: 19rem;
  height: 100%;
  border-right: 1px solid #E0E1EE;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
}
.nav__bottom .navbar-brand img {
  width: 104px;
}
.nav__bottom .navbar-nav {
  padding-left: 5.2rem;
  padding-right: 5.8rem;
  border-right: 1px solid #E0E1EE;
}
.nav__bottom .navbar-nav .nav-item .nav-link {
  height: 100%;
  padding-left: 0;
  padding-right: 0px;
  margin-right: 3rem;
}
.nav__bottom .search__bar, .nav__bottom .flag__bar, .nav__bottom .shopping__bar {
  width: 11.4rem;
  height: 100%;
  border-right: 1px solid #E0E1EE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__bottom .shopping__bar {
  width: 23.1rem;
}
.nav__bottom .shopping__bar .buy__bar {
  position: relative;
  margin-right: 2.2rem;
}
.nav__bottom .shopping__bar .buy__bar .add__number {
  position: absolute;
  top: -0.9rem;
  right: -0.9rem;
  width: 22px;
  height: 22px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__bottom .flag__bar {
  margin: auto;
  border: none;
}
.nav__bottom .flag__bar .dropdown-toggle .dropdown__img {
  width: 34px;
  height: 34px;
  margin-right: 1.4rem;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
}
.nav__bottom .flag__bar .dropdown-toggle .dropdown__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
}
.nav__bottom .flag__bar .dropdown-toggle::after {
  content: none;
}
.nav__bottom .flag__bar .dropdown-menu {
  width: 150%;
  translate: -15% 0%;
  margin-top: 2rem;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
  background: white;
  padding: 0;
  position: absolute;
}
.nav__bottom .flag__bar .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -1rem;
  right: 50%;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #DCDCDC transparent;
  border-style: solid;
  z-index: 9;
}
.nav__bottom .flag__bar .dropdown-menu .dropdown-item {
  padding: 12px 17px;
  border-bottom: 1px solid #DCDCDC;
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav__bottom .flag__bar .dropdown-menu .dropdown-item .dropdown__img {
  width: 18px;
  height: 18px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15)) !important;
  margin-right: 0.8rem;
}
.nav__bottom .flag__bar .dropdown-menu .dropdown-item .dropdown__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.nav__bottom .flag__bar .dropdown-menu .dropdown-item:hover {
  background: rgba(45, 150, 220, 0.05);
}

.mobo .shopping__bar {
  width: 23.1rem;
  display: flex;
}
.mobo .shopping__bar .buy__bar {
  position: relative;
  margin-right: 2.2rem;
}
.mobo .shopping__bar .buy__bar .add__number {
  position: absolute;
  top: -0.9rem;
  right: -0.9rem;
  width: 22px;
  height: 22px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile .offcanvas .offcanvas-header {
  height: 66px;
  border-bottom: 1px solid #E0E1EE;
}
.mobile .offcanvas .offcanvas-header .btn-close {
  margin: 20px;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(102, 103, 171)'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  opacity: 1;
  border-radius: 0rem;
  width: 25px !important;
}
.mobile .offcanvas .offcanvas-body {
  padding: 0;
  padding-bottom: 4rem;
}
.mobile .offcanvas .offcanvas-body .serach__menu {
  margin: auto;
  margin-top: 30px;
  width: calc(100% - 30px);
}
.mobile .offcanvas .offcanvas-body .serach__menu .form-control {
  width: calc(100% - 10px);
  height: 82px;
  border: 1px solid #B4B4E1;
  border-radius: 300px;
  margin: auto;
  padding-left: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
}
.mobile .offcanvas .offcanvas-body .serach__menu .form-control::placeholder {
  color: #727272;
}
.mobile .offcanvas .offcanvas-body .serach__menu button {
  right: 30px;
  top: 50%;
  translate: 0% -50%;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(102, 103, 171)'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  opacity: 1;
  border-radius: 0rem;
}
.mobile .offcanvas .offcanvas-body .menu {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #6667AB;
}
.mobile .offcanvas .offcanvas-body .menu li {
  margin-bottom: 15px;
}
.mobile .offcanvas .offcanvas-body .menu li a {
  font-size: 18px;
  line-height: 18px;
  font-family: "graphik_lcg_medium";
  color: #000000;
}
.mobile .offcanvas .offcanvas-body .flag {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 30px;
  padding-right: 30px;
}
.mobile .offcanvas .offcanvas-body .flag .flag__img {
  width: 34px;
  height: 34px;
  margin-right: 16px;
}
.mobile .offcanvas .offcanvas-body .flag .flag__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-family: "graphik_lcg_medium";
}

.hero {
  margin: 8rem auto;
  width: 100%;
  overflow: hidden;
}
.hero .hero__layout {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-image: url(../images/banner.webp);
  background-size: cover;
  border-radius: 10px;
  position: relative;
}
.hero .hero__layout::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #6667AB 29.85%, rgba(102, 103, 171, 0) 100%);
}
.hero .hero__layout .hero__layer {
  position: relative;
  height: 100%;
  display: flex;
  padding-left: 8.4rem;
  padding-top: 10.4rem;
}
.hero .hero__layout .hero__tittle {
  font-size: 102px;
  line-height: 90%;
  letter-spacing: -0.05em;
  font-family: "graphik_lcg_light";
  margin-bottom: 4.2rem;
  color: #FFFFFF;
}
.hero .hero__layout .hero__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 5.6rem;
}
.hero .hero__layout .hero__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  height: 73px;
  border: 1px solid #FFFFFF;
  border-radius: 180px;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #FFFFFF !important;
}
.hero .hero__layout .hero__btn span {
  width: 19px;
}
.hero .hero__layout .hero__btn:hover {
  color: #bdbfda !important;
}
.hero .hero__layout .hero__btn:hover span {
  margin-right: -8px;
}

.sub__cards .sub__cards__layout {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  height: 11.2rem;
  border-top: 1px solid rgba(102, 103, 171, 0.3);
  border-bottom: 1px solid rgba(102, 103, 171, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub__card {
  padding: 0px 44px;
  border-right: 1px solid rgba(102, 103, 171, 0.3);
  width: max-content;
}

.sub__card__tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  font-family: "graphik_lcg_medium";
}

.cards {
  margin: 8rem auto;
}
.cards .cards__layout {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
}
.cards .cards__layout .grids__cards .card {
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-top: 6rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
.cards .cards__layout .grids__cards .card .card__img {
  margin-bottom: 3rem;
}
.cards .cards__layout .grids__cards .card .card__info {
  border-top: 1px solid rgba(102, 103, 171, 0.3);
  border-bottom: 1px solid rgba(102, 103, 171, 0.3);
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .cards__layout .grids__cards .card .card__info .card__info_no {
  color: #000000;
  opacity: 0.4;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  font-family: "graphik_lcg_medium";
  margin-right: 5rem;
  margin-bottom: 0;
}
.cards .cards__layout .grids__cards .card .card__info .card__info_tittle {
  color: #000000;
  font-weight: 300;
  font-size: 32px;
  line-height: 90%;
  letter-spacing: -0.05em;
  font-family: "graphik_lcg_light";
  margin-bottom: 0;
}
.cards .cards__layout .grids__cards .card .card__info .card__info_arrow {
  width: 46px;
  height: 46px;
  background: #6667AB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .cards__layout .grids__cards .card .card__info .card__info_arrow svg {
  fill: white;
}
.cards .cards__layout .grids__cards .totta {
  width: 618px;
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */