@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@font-face {
  font-family: "Gilroy-Light";
  src: url("../font/Gilroy-Light.woff2") format("woff2"), url("../font/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../font/Gilroy-ExtraBold.woff2") format("woff2"), url("../font/Gilroy-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../font/GraphikLCG-Light.eot");
  src: url("../font/GraphikLCG-Light.eot?#iefix") format("embedded-opentype"), url("../font/GraphikLCG-Light.woff2") format("woff2"), url("../font/GraphikLCG-Light.woff") format("woff"), url("../font/GraphikLCG-Light.ttf") format("truetype"), url("../font/GraphikLCG-Light.svg#GraphikLCG-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../font/GraphikLCG-Bold.eot");
  src: url("../font/GraphikLCG-Bold.eot?#iefix") format("embedded-opentype"), url("../font/GraphikLCG-Bold.woff2") format("woff2"), url("../font/GraphikLCG-Bold.woff") format("woff"), url("../font/GraphikLCG-Bold.ttf") format("truetype"), url("../font/GraphikLCG-Bold.svg#GraphikLCG-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../font/GraphikLCG-Medium.eot");
  src: url("../font/GraphikLCG-Medium.eot?#iefix") format("embedded-opentype"), url("../font/GraphikLCG-Medium.woff2") format("woff2"), url("../font/GraphikLCG-Medium.woff") format("woff"), url("../font/GraphikLCG-Medium.ttf") format("truetype"), url("../font/GraphikLCG-Medium.svg#GraphikLCG-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../font/GraphikLCG-Regular.eot");
  src: url("../font/GraphikLCG-Regular.eot?#iefix") format("embedded-opentype"), url("../font/GraphikLCG-Regular.woff2") format("woff2"), url("../font/GraphikLCG-Regular.woff") format("woff"), url("../font/GraphikLCG-Regular.ttf") format("truetype"), url("../font/GraphikLCG-Regular.svg#GraphikLCG-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.Gilroy__Light, .nav__bottom .flag__bar .dropdown-menu .dropdown-item .dropdown__text {
  font-family: "Gilroy-Light";
}

.Gilroy__ExtraBold {
  font-family: "Gilroy-ExtraBold";
}

.graphik_lcg_bold {
  font-family: "Graphik LCG";
}

.graphik_lcg_light, .mobile .offcanvas .offcanvas-body .serach__menu .form-control, .nav__top .right .nav-item .nav-link, .nav__top .navbar-nav .nav-item .nav-link {
  font-family: "Graphik LCG";
}

.graphik_lcg_medium, .nav__bottom .navbar-nav .nav-item .nav-link {
  font-family: "Graphik LCG";
}

.graphik_lcg_regular {
  font-family: "Graphik LCG";
}

.primary {
  color: #6667AB !important;
}
.primary:hover {
  color: #6667AB;
}

.dark {
  color: #000000 !important;
}
.dark:hover {
  color: #000000;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.btn,
.form-control {
  box-shadow: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000 !important;
}
a:hover {
  color: #6667AB !important;
}

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Graphik LCG";
}

.container-fluid,
.container {
  padding-left: 0;
  padding-right: 0;
}

.my__container {
  max-width: 1540px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ffffff #6667AB;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #6667AB;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid rgba(176, 176, 176, 0.9058823529);
}

body ::-moz-selection {
  background: rgba(255, 255, 255, 0.747);
  color: #6667AB !important;
}

body ::selection {
  background: rgba(255, 255, 255, 0.747);
  color: #6667AB !important;
}

header {
  height: 166px;
}

.nav__top {
  padding: 0px 40px;
  border-bottom: 1px solid #E0E1EE;
}
.nav__top .navbar-nav .nav-item .nav-link {
  display: inline-block;
  border-right: 1px solid #E0E1EE;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
}
.nav__top .navbar-nav .nav-item:nth-child(1) {
  width: 22.7rem;
}
.nav__top .navbar-nav .nav-item:nth-child(2) {
  width: 11.1rem;
}
.nav__top .navbar-nav .nav-item:nth-child(3) {
  width: 15.5rem;
}
.nav__top .navbar-nav .nav-item:nth-child(4) {
  width: 15.5rem;
}
.nav__top .navbar-nav .nav-item:nth-child(6) {
  width: 19.6rem;
}
.nav__top .navbar-nav .nav-item:nth-child(7) {
  width: 22rem;
  border-right: none !important;
}
.nav__top .right .nav-item .nav-link {
  display: inline-block;
  border-right: 1px solid #E0E1EE;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
}
.nav__top .right .nav-item:nth-child(1) {
  width: 23rem;
}
.nav__top .right .nav-item:nth-child(1) a {
  border-left: 1px solid #E0E1EE;
}
.nav__top .right .nav-item:nth-child(2) {
  width: 19.6rem;
}
.nav__top .right .nav-item:nth-child(3) {
  width: 22rem;
}
.nav__top .right .nav-item:nth-child(3) a {
  border: none;
}
.nav__top .form-control {
  border: none;
  border-radius: 0;
  border-right: 1px solid #E0E1EE;
  padding-left: 40px;
}
.nav__top button {
  top: 50%;
  right: 0;
  translate: 0% -50%;
  margin-right: 31px;
}
.nav__top button svg {
  fill: #6667AB;
}

.nav__bottom {
  height: 11rem;
  border-bottom: 1px solid #E0E1EE;
}
.nav__bottom .navbar-brand {
  width: 19rem;
  height: 100%;
  border-right: 1px solid #E0E1EE;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
}
.nav__bottom .navbar-brand img {
  width: 104px;
}
.nav__bottom .navbar-nav {
  padding-left: 5.2rem;
  padding-right: 5.8rem;
  border-right: 1px solid #E0E1EE;
}
.nav__bottom .navbar-nav .nav-item .nav-link {
  height: 100%;
  padding-left: 0;
  padding-right: 0px;
  margin-right: 3rem;
}
.nav__bottom .search__bar, .nav__bottom .flag__bar, .nav__bottom .shopping__bar {
  width: 11.4rem;
  height: 100%;
  border-right: 1px solid #E0E1EE;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav__bottom .search__bar .form-control, .nav__bottom .flag__bar .form-control, .nav__bottom .shopping__bar .form-control {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 100%;
  width: 0px;
  height: 60px;
  padding: 0;
  min-width: 0;
  border-radius: 100px;
  border: none;
  transition: all 0.3s;
}
.nav__bottom .shopping__bar {
  width: 23.1rem;
}
.nav__bottom .shopping__bar .buy__bar {
  position: relative;
  margin-right: 2.2rem;
}
.nav__bottom .shopping__bar .buy__bar .add__number {
  position: absolute;
  top: -0.9rem;
  right: -0.9rem;
  width: 22px;
  height: 22px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__bottom .flag__bar {
  margin: auto;
  border: none;
}
.nav__bottom .flag__bar .dropdown-toggle .dropdown__img {
  width: 34px;
  height: 34px;
  margin-right: 1.4rem;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
}
.nav__bottom .flag__bar .dropdown-toggle .dropdown__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
}
.nav__bottom .flag__bar .dropdown-toggle::after {
  content: none;
}
.nav__bottom .flag__bar .dropdown-menu {
  width: 150%;
  translate: -35% 0%;
  margin-top: 2rem;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
  background: white;
  padding: 0;
  position: absolute;
}
.nav__bottom .flag__bar .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -1rem;
  right: 50%;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #DCDCDC transparent;
  border-style: solid;
  z-index: 9;
}
.nav__bottom .flag__bar .dropdown-menu .dropdown-item {
  padding: 12px 17px;
  border-bottom: 1px solid #DCDCDC;
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav__bottom .flag__bar .dropdown-menu .dropdown-item .dropdown__img {
  width: 18px;
  height: 18px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15)) !important;
  margin-right: 0.8rem;
}
.nav__bottom .flag__bar .dropdown-menu .dropdown-item .dropdown__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.nav__bottom .flag__bar .dropdown-menu .dropdown-item:hover {
  background: rgba(45, 150, 220, 0.05);
}

.spearte__header.nav__bottom {
  display: flex;
  display: none;
}

.btn__back_pg {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #6667AB !important;
  border: 1px solid #6667AB;
  border-radius: 300px;
  width: 192px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__back_pg span {
  margin-right: 1rem;
}

.mobo .shopping__bar {
  width: 23.1rem;
  display: flex;
}
.mobo .shopping__bar .buy__bar {
  position: relative;
  margin-right: 2.2rem;
}
.mobo .shopping__bar .buy__bar .add__number {
  position: absolute;
  top: -0.9rem;
  right: -0.9rem;
  width: 22px;
  height: 22px;
  background: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile .offcanvas .offcanvas-header {
  height: 66px;
  border-bottom: 1px solid #E0E1EE;
}
.mobile .offcanvas .offcanvas-header .btn-close {
  margin: 20px;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(102, 103, 171)'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  opacity: 1;
  border-radius: 0rem;
  width: 25px !important;
}
.mobile .offcanvas .offcanvas-body {
  padding: 0;
  padding-bottom: 4rem;
}
.mobile .offcanvas .offcanvas-body .serach__menu {
  margin: auto;
  margin-top: 30px;
  width: calc(100% - 30px);
}
.mobile .offcanvas .offcanvas-body .serach__menu .form-control {
  width: calc(100% - 10px);
  height: 82px;
  border: 1px solid #B4B4E1;
  border-radius: 300px;
  margin: auto;
  padding-left: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
}
.mobile .offcanvas .offcanvas-body .serach__menu .form-control::-moz-placeholder {
  color: #727272;
}
.mobile .offcanvas .offcanvas-body .serach__menu .form-control:-ms-input-placeholder {
  color: #727272;
}
.mobile .offcanvas .offcanvas-body .serach__menu .form-control::placeholder {
  color: #727272;
}
.mobile .offcanvas .offcanvas-body .serach__menu button {
  right: 30px;
  top: 50%;
  translate: 0% -50%;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(102, 103, 171)'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  opacity: 1;
  border-radius: 0rem;
}
.mobile .offcanvas .offcanvas-body .menu {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #6667AB;
}
.mobile .offcanvas .offcanvas-body .menu li {
  margin-bottom: 15px;
}
.mobile .offcanvas .offcanvas-body .menu li a {
  font-size: 18px;
  line-height: 18px;
  font-family: "Graphik LCG";
  color: #000000;
}
.mobile .offcanvas .offcanvas-body .flag {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 30px;
  padding-right: 30px;
}
.mobile .offcanvas .offcanvas-body .flag .flag__img {
  width: 34px;
  height: 34px;
  margin-right: 16px;
}
.mobile .offcanvas .offcanvas-body .flag .flag__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-family: "Graphik LCG";
}

.hero {
  margin: 8rem auto;
  width: 100%;
  overflow: hidden;
}

.hero__layout {
  height: 600px;
  background-image: url(../images/banner.webp);
  background-size: cover;
  border-radius: 10px;
  position: relative;
}
.hero__layout::before {
  content: "";
  border-radius: 10px;
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #6667AB 29.85%, rgba(102, 103, 171, 0) 100%);
}
.hero__layout .hero__layer {
  position: relative;
  height: 100%;
  display: flex;
  padding-left: 8.4rem;
  padding-top: 10.4rem;
}
.hero__layout .hero__tittle {
  font-size: 102px;
  line-height: 90%;
  letter-spacing: -0.05em;
  font-family: "Graphik LCG";
  margin-bottom: 4.2rem;
  color: #FFFFFF;
  font-weight: 300;
}
.hero__layout .hero__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 5.6rem;
}

.hero__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  height: 73px;
  border: 1px solid #FFFFFF;
  border-radius: 180px;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #FFFFFF !important;
}
.hero__btn span {
  width: 19px;
}
.hero__btn:hover {
  color: #bdbfda !important;
}
.hero__btn:hover span {
  margin-right: -8px;
}

.sub__cards .sub__cards__layout {
  height: 11.2rem;
  border-top: 1px solid rgba(102, 103, 171, 0.3);
  border-bottom: 1px solid rgba(102, 103, 171, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub__card {
  padding: 0px 44px;
  border-right: 1px solid rgba(102, 103, 171, 0.3);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.sub__card__tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  font-family: "Graphik LCG";
}

.cards {
  margin: 8rem auto;
}
.cards .cards__layout .grids__cards .e {
  padding-right: 4rem;
}
.cards .cards__layout .grids__cards .card {
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.cards .cards__layout .grids__cards .card .card__img {
  margin-bottom: 3rem;
}
.cards .cards__layout .grids__cards .card .card__info {
  border-top: 1px solid rgba(102, 103, 171, 0.3);
  border-bottom: 1px solid rgba(102, 103, 171, 0.3);
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards .cards__layout .grids__cards .card .card__info .card__info_no {
  color: #000000;
  opacity: 0.4;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  font-family: "Graphik LCG";
  margin-right: 5rem;
  margin-bottom: 0;
}
.cards .cards__layout .grids__cards .card .card__info .card__info_tittle {
  color: #000000;
  font-weight: 300;
  font-size: 32px;
  line-height: 90%;
  letter-spacing: -0.05em;
  font-family: "Graphik LCG";
  margin-bottom: 0;
}
.cards .cards__layout .grids__cards .card .card__info .card__info_arrow {
  width: 46px;
  height: 46px;
  background: #6667AB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .cards__layout .grids__cards .card .card__info .card__info_arrow svg {
  fill: white;
}
.cards .cards__layout .grids__cards .card .card__info .card__info_arrow:hover {
  background: #ffffff;
}
.cards .cards__layout .grids__cards .card .card__info .card__info_arrow:hover svg {
  fill: #6667AB;
  margin-left: 0.7rem;
}
.cards .cards__layout .grids__cards .top__ {
  margin-top: -9rem;
}

.section__tittle .section__heading {
  font-family: "Graphik LCG";
  font-weight: 300;
  font-size: 52px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.05em;
  color: #000000;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.section__tittle .section__heading span {
  color: #9F9F9F;
}

.pe_2 {
  padding-right: 2rem;
}

.ps_2 {
  padding-left: 2rem;
}

.three__cards {
  margin-top: 8rem;
}
.three__cards .hero__layout {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.three__cards .hero__layout .hero__layer {
  padding-left: 5.1rem;
  padding-right: 2rem;
  padding-top: 9.1rem;
}
.three__cards .hero__layout.fif {
  margin-bottom: 8rem;
}
.three__cards .hero__layout.fif .hero__tittle {
  font-family: "Graphik LCG";
  margin-bottom: 5.1rem;
}
.three__cards .hero__layout.fif .hero__tittle .hero__tittle__fif {
  font-family: "Graphik LCG";
  font-weight: 300;
  font-size: 52px;
  line-height: 90%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.three__cards .hero__layout.fif .hero__tittle .discount {
  font-size: 112px;
  line-height: 90%;
  font-family: "Graphik LCG";
  font-weight: 300;
  margin-right: 15px;
}
.three__cards .hero__layout.big {
  height: 695px;
}
.three__cards .hero__layout.big .hero__layer {
  padding-top: 10.9rem;
  padding-left: 8.4rem;
}
.three__cards .hero__layout.big .hero__tittle {
  font-family: "Graphik LCG";
  font-weight: 300;
  font-size: 102px;
  line-height: 90%;
  margin-bottom: 3rem;
}
.three__cards .hero__layout.big .hero__text {
  margin-bottom: 6.6rem;
}

.hero__btn.md {
  width: 253px;
  height: 74px;
  margin-bottom: 6.3rem;
  font-weight: 700;
  font-size: 18px;
  font-family: "Graphik LCG";
}

.section__contact li {
  margin-right: 0;
  padding: 0 45px;
  position: relative;
  list-style: none;
}
.section__contact li::marker {
  font-size: 0;
}
.section__contact li:last-child {
  list-style: disc;
}
.section__contact li:last-child::after {
  position: absolute;
  content: "";
  left: -11px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #6667AB;
  width: 21px;
  height: 21px;
  border-radius: 50%;
}
.section__contact li a {
  font-family: "Graphik LCG";
  font-weight: 300;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: -0.05em;
}
.section__contact li a.number {
  color: #6667AB !important;
}

.three__cards.contact {
  margin-bottom: 16rem;
}
.three__cards.contact .hero__layout {
  background-image: none;
  margin-bottom: 0;
}
.three__cards.contact .hero__layout::before {
  content: none;
}

.hero__layout.fif.one {
  background: #6667AB;
  background-image: url(../images/three_imgs_card_01.webp);
  background-position: center;
  background-size: cover;
}
.hero__layout.fif.one::before {
  content: none;
}

.hero__layout.fif.two {
  background: #6667AB;
  background-image: url(../images/three_imgs_card_02.webp);
  background-position: center;
  background-size: cover;
}
.hero__layout.fif.two::before {
  content: none;
}

.hero__layout.big.three {
  background: #6667AB;
  background-image: url(../images/three_imgs_card_03.webp);
  background-position: center;
  background-size: cover;
}

footer {
  width: 100%;
  height: 468px;
  background: #6667AB;
  padding: 3.4rem 8.1rem;
}
footer .footer__logo {
  width: 20rem;
  margin-bottom: 2.2rem;
  margin-left: -1.5rem;
}
footer .footer__media_link {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
footer .footer__media_link li {
  margin-right: 7px;
  width: 29px;
  height: 29px;
}
footer .footer__media_card {
  display: flex;
  align-items: center;
}
footer .footer__media_card li {
  width: 61px;
  margin-right: 1.1rem;
}
footer .footer__invent {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #FFFFFF;
}
footer .footer__menu {
  font-family: "Graphik LCG";
  font-weight: 300;
  font-size: 25px;
  line-height: 90%;
  /* or 22px */
  margin: 0;
  letter-spacing: -0.05em;
  margin-bottom: 3rem;
  /* #FFFFFF */
  color: #FFFFFF;
}
footer .footer__menu_list li {
  margin-bottom: 1rem;
}
footer .footer__menu_list li a {
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  /* or 22px */
  color: #FFFFFF;
}
footer .footer__menu_list li a:hover {
  color: rgba(171, 162, 255, 0.7960784314) !important;
}
footer .footer__inner_m {
  margin-top: 3rem;
}
footer .tapy li {
  margin-right: 7.3rem;
}

.section__heading.contact__pg {
  font-weight: 300;
  font-size: 102px;
  letter-spacing: -0.05em;
}

.head__border .head__border__tittle {
  font-weight: 300;
  font-size: 52px;
  line-height: 90%;
  letter-spacing: -0.05em;
  color: #000000;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(102, 103, 171, 0.3);
}
.head__border .breadcrumb {
  margin-bottom: 3rem;
}
.head__border .breadcrumb .breadcrumb-item {
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}

.start__space {
  margin-top: 8rem;
}

.end__space {
  margin-bottom: 8rem;
}

.contact__time {
  margin-bottom: 4rem;
}
.contact__time .contact__time_small {
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #727272;
  margin-bottom: 1rem;
}
.contact__time .contact__time_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  margin-bottom: 0;
}

.contact__info .contact__info__bold_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
}
.contact__info .contact__info_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  margin-bottom: 0;
}

.error__layout {
  width: 100%;
  height: 600px;
  background-image: url(../images/error.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: right;
}

.error__content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -55%;
  width: 80%;
}
.error__content .error__content_head {
  margin-bottom: 2rem;
  line-height: 100%;
  text-align: center;
}
.error__content .error__content_text {
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
}
.error__content .error__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.pgs__menu {
  padding-right: 0;
  max-width: 260px;
  width: 100%;
  margin-top: 65px;
}
.pgs__menu .pgs__menu_item {
  border-bottom: 1px solid rgba(102, 103, 171, 0.3);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.pgs__menu .pgs__menu_item .pgs__menu_link {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
}

.filter__item_layout {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
}

.filter__item_drop__down {
  margin: 6px 0 0 0;
}

.filter__item {
  background: #B4B4E1;
  border-radius: 200px;
  width: 62.05px;
  height: 35.05px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #6667AB;
  margin-top: 5px;
  margin-left: 3rem;
}

.bb__line {
  border-bottom: 1px solid rgba(102, 103, 171, 0.3);
}

.filter__item_drop__down .dropdown {
  width: 163.58px;
  height: 35px;
  border: 1px solid #A4A4A4;
  border-radius: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__item_drop__down .dropdown a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.7rem;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #A4A4A4 !important;
}
.filter__item_drop__down .dropdown a svg {
  fill: #A4A4A4;
  margin-right: 0.7rem;
}
.filter__item_drop__down .dropdown-toggle::after {
  margin-left: 0.6rem;
  vertical-align: 0.255em;
  border-top: 0.5rem solid;
  border-right: 0.5rem solid transparent;
  border-bottom: 0;
  border-left: 0.5rem solid transparent;
}
.filter__item_drop__down .form-check-input {
  width: 1.6rem;
  height: 1.6rem;
  box-shadow: none;
  float: none;
  margin: 0 10px 0 0;
}

.filter__item_drop__down.one .dropdown {
  width: 88px;
  height: 35px;
}
.filter__item_drop__down.one .dropdown-toggle::after {
  margin-left: 1.1rem;
}

.filter__item_drop__down.two .dropdown {
  width: 98px;
  height: 35px;
}

.filter__item_drop__down.three .dropdown {
  width: 99px;
  height: 35px;
}

.filter__item_drop__down.four .dropdown {
  width: 86px;
  height: 35px;
}

.filter__item_drop__down.five a {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #6667AB !important;
}

.dropy__nav {
  padding: 34px 0 40px;
  display: flex;
  align-items: center;
}
.dropy__nav .filter__item_drop__down {
  margin-right: 2rem;
}

.product__card {
  width: 100%;
  margin-bottom: 4rem;
  position: relative;
    z-index: 10;
}
.product__card .product__card_img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}
.product__card .product__card_img a{
  display: block;
}
.product__card .product__card_img img {
  filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
}
.product__card .product__card_img .product__card_template {
  position: absolute;
  inset: 0;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.product__card .product__card_img .product__card_template .product__card_green_badge {
  background: rgba(48, 192, 69, 0.6);
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 26px;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}
.product__card .product__card_img .product__card_template .product__card_green_badge.danger {
  background: rgba(226, 83, 83, 0.6);
}
.product__card .product__card_img .product__card_template .product__card_white_badge {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #ffffff;
}
.product__card .product__card_img .product__card_template .product__card_white_badge svg {
  fill: #6667AB;
}
.product__card .product__card_img .product__card_template .b__space {
  margin-bottom: 8px;
}
.product__card .product__card_img .product__card_template .btn-check:checked + .btn {
  background-color: #6667AB;
  border-color: #6667AB;
}
.product__card .product__card_img .product__card_template .btn-check:checked + .btn svg {
  fill: #ffffff;
}
.product__card .product__card_divider {
  height: 1px;
  width: 100%;
  opacity: 0.3;
  background: #6667AB;
}
.product__card .product__card_content {
  text-align: center;
}
.product__card .product__card_content_tittle {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.product__card .product__card_content_prize {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #6667AB;
  margin-bottom: 0.3rem;
}

.catalogus-sec {
  padding: 84px 0 160px 0;
}

.products {
  margin: 0 -20px 40px;
}

.products [class*=col] {
  padding: 0 20px;
  flex: 1 0 33%;
}

.load__more .page-item {
  margin-right: 1rem;
}
.load__more .page-item .page-link {
  border: none;
  box-shadow: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 18px;
  border-radius: 5px;
}
.load__more .page-item .page-link:hover {
  background: #6667AB;
  border-radius: 5px;
  color: white !important;
}
.load__more .page-item .page-link:hover svg {
  fill: #ffffff;
}
.load__more .page-item .page-link:active {
  background: #6667AB !important;
  color: #fff !important;
}
.load__more .arrow svg {
  fill: #6667AB;
}

.active > .page-link,
.page-link.active {
  background: #6667AB;
  color: #fff !important;
}

.product__gallery .swiper {
  width: 100%;
  height: 100%;
}
.product__gallery .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__gallery .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.product__gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}
.product__gallery .mySwiper2 {
  height: 80%;
  width: 100%;
}
.product__gallery .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.product__gallery .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.product__gallery .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.product__gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__gallery .swiper-button-next,
.product__gallery .swiper-button-prev {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__gallery .swiper-button-next:hover,
.product__gallery .swiper-button-prev:hover {
  background: #6667AB;
}
.product__gallery .swiper-button-next:hover svg,
.product__gallery .swiper-button-prev:hover svg {
  fill: #ffffff;
}
.product__gallery .swiper-button-prev svg {
  fill: #6667AB;
}
.product__gallery .swiper-button-next {
  background: #ffffff;
}
.product__gallery .swiper-button-next svg {
  fill: #6667AB;
}
.product__gallery .swiper-button-next:hover {
  background: #6667AB;
}
.product__gallery .swiper-button-next:hover svg {
  fill: #ffffff;
}
.product__gallery .swiper-button-next::after,
.product__gallery .swiper-rtl .swiper-button-prev::after {
  content: none;
}
.product__gallery .swiper-button-prev::after,
.product__gallery .swiper-rtl .swiper-button-next::after {
  content: none;
}
.product__gallery .swiper-button-next.swiper-button-disabled,
.product__gallery .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}
.product__gallery .swiper-button-next,
.product__gallery .swiper-button-prev {
  right: 2rem;
  top: auto;
  bottom: 2rem;
}
.product__gallery .swiper-button-prev {
  right: 9rem;
  left: auto;
  top: auto;
  bottom: 2rem;
}
.product__gallery .mySwiper .swiper-slide {
  border: 1px solid #000000;
  border-radius: 5px;
  opacity: 0.2;
  overflow: hidden;
}
.product__gallery .swiper-slide.swiper-slide-visible.swiper-slide-thumb-active {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  opacity: 1;
}

.product__content {
  max-width: 750px;
  width: 100%;
  margin-left: auto;
}
.product__content .product__content__head {
  font-weight: 300;
  font-size: 52px;
  line-height: 130%;
  /* or 68px */
  letter-spacing: -0.05em;
  /* #000000 */
  color: #000000;
  margin-bottom: 2rem;
}
.product__content .product__content__head_small {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  /* #000000 */
  color: #000000;
  margin-bottom: 4rem;
}

.product__content_info {
  padding: 4rem 0px;
}

.product__content_info_points li {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  /* #000000 */
  color: #000000;
}

.product__item_prize {
  font-weight: 300;
  font-size: 52px;
  line-height: 130%;
  /* identical to box height, or 68px */
  letter-spacing: -0.05em;
  /* #6667AB */
  color: #6667AB;
  margin: 4rem 0 0;
  padding-bottom: 4rem;
}

.product__item_add .product__item_add_btn {
  padding: 4rem 6rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  letter-spacing: 0.1em;
  /* #FFFFFF */
  color: #FFFFFF !important;
  background: #6667AB;
  border-radius: 180px;
  margin-right: 3.1rem;
  margin-bottom: 2rem;
}

.product__item_add_counter {
  width: 109px;
  height: 109px;
  border: 1px solid #6667AB;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
}
.product__item_add_counter .frame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.product__item_add_counter .frame .number {
  margin: 0 1.5rem;
}
.product__item_add_counter .frame .number #count {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  /* #6667AB */
  color: #6667AB;
}
.product__item_add_counter .frame button {
  border: none;
  background: transparent;
}
.product__item_add_counter .frame button svg {
  fill: #6667AB;
  stroke: #6667AB;
}

.product__item_notice {
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  margin: 0rem 0 4rem;
  color: #727272;
}

.product__item_share {
  display: flex;
  align-items: center;
}
.product__item_share .product__item_share_link {
  width: 60px;
  height: 60px;
  border: 1px solid #6667AB;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.product__point_para {
  max-width: 618px;
  margin-right: 172px;
}
.product__point_para .product__point_para_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 190%;
  /* or 27px */
  color: #727272;
}
.product__point_para .product__point_para_text span {
  color: #000000;
}

.product__point_layout {
  margin-top: 32px;
}

.minimum__cards {
  margin: 16rem 0;
}
.minimum__cards .minimum__cards_tittle {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */
  text-align: center;
  letter-spacing: -0.05em;
  /* #000000 */
  color: #000000;
}

.minimum__cards_row {
  padding: 4rem 0;
}

.hide__faq .accordion-button:not(.collapsed)::after {
  background-image: url(../images/minus.svg);
  transform: none !important;
  background-position: center;
}
.hide__faq .accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url(../images/plus.svg);
  transform: 0deg;
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
.hide__faq .accordion-item .accordion-header .accordion-button {
  padding-left: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  letter-spacing: -0.05em;
  /* #000000 */
  color: #000000;
}
.hide__faq .accordion-body {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  padding: 0;
  /* #000000 */
  color: #000000;
}
.hide__faq .accordion {
  padding-bottom: 1rem;
}

.modal.show .modal-dialog {
  transform: none;
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 750px;
}

.modal-content .modal-header {
  height: 7.1rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}
.modal-content .modal-body {
  padding-top: 6rem;
}
.modal-content .modal-body h3 {
  font-weight: 300;
  font-size: 52px;
  line-height: 130%;
  /* or 68px */
  text-align: center;
  letter-spacing: -0.05em;
  /* #000000 */
  color: #000000;
}
.modal-content .modal-body p {
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  text-align: center;
  /* #000000 */
  color: #000000;
  margin: 3rem 0 6rem;
}

.total__items {
  margin: 8rem 0;
}

.total__bill {
  max-width: 487px;
  background: #6667AB;
  border-radius: 10px;
  padding: 4rem;
  margin: 0 auto;
}

.total__bill_head_small {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  /* #FFFFFF */
  color: #FFFFFF;
}

.total__bill_head {
  font-weight: 500;
  font-size: 31px;
  line-height: 130%;
  /* or 40px */
  /* #FFFFFF */
  color: #FFFFFF;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.products__prize {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__prize .products__prize_name {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  /* #FFFFFF */
  color: #FFFFFF;
}
.products__prize .products__prize_amount {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  /* identical to box height, or 26px */
  text-align: right;
  /* #FFFFFF */
  color: #FFFFFF;
}

.products__pay_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  background: #FFFFFF;
  border-radius: 180px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 4rem;
}

.total__bill__message {
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  /* #6667AB */
  color: #6667AB !important;
  margin-top: 4rem;
  display: block;
}

.items__layouts {
  display: flex;
  align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 4rem;
}
.items__layouts .items__layouts_dele {
  margin-right: 2.2rem;
}
.items__layouts .items__layouts_img {
  max-width: 147px;
  width: 100%;
  height: 189px;
}
.items__layouts .items__layouts_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items__layouts .items__layouts_tittle {
  max-width: 240px;
  margin-bottom: auto;
  margin-left: 5.3rem;
}
.items__layouts .items__layouts_tittle .items__layouts_tittle_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */
  /* #000000 */
  color: #000000;
}
.items__layouts .items__layouts_tittle_bar {
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  color: #727272;
  margin-bottom: 5.4rem;
}
.items__layouts .items__layouts_prize {
  margin-left: 8.5rem;
}
.items__layouts .items__layouts_counter,
.items__layouts .items__layouts_tottal_prize {
  margin-left: 5.3rem;
}
.items__layouts .items__layouts_counter .items__layouts_tittle_bar {
  margin-bottom: 2.6rem;
}
.items__layouts .items__layouts_tittle_name .product__item_add_counter {
  width: 7.8rem;
  height: 7.8rem;
}
.items__layouts .items__layouts_tittle_name .product__item_add_counter #minus-btn {
  margin-right: 5px;
}
.items__layouts .items__layouts_tittle_name .frame .number #count {
  font-weight: 500;
  font-size: 12.5px;
  line-height: 130%;
}
.items__layouts .items__layouts_tittle_name .frame .number {
  margin: 0 0.5rem;
}
.items__layouts .media-body {
  flex: 1;
  display: flex;
  align-items: center;
}

.fill_form_checks {
  margin-bottom: 4rem;
}
.fill_form_checks .form-check {
  margin-bottom: 0.9rem;
}
.fill_form_checks .form-check .form-check-input {
  border-radius: 50%;
  box-shadow: none;
  width: 2rem;
  height: 2rem;
  font-weight: 300;
}
.fill_form_checks .form-check-label {
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  /* identical to box height, or 26px */
  /* #000000 */
  color: #000000;
}
.fill_form_checks .form-check-label span {
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.fill_form .fill_form_tittle {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 100%;
  /* identical to box height, or 32px */
  letter-spacing: -0.05em;
  /* #000000 */
  color: #000000;
  margin-bottom: 4rem;
}
.fill_form .text__area,
.fill_form .input-group {
  max-width: 355px !important;
  width: 100%;
}

.fill_form_feilds .form-control {
  max-width: 355px;
  height: 82px;
  border: 1px solid #B4B4E1;
  border-radius: 300px;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  padding-left: 4rem;
  box-shadow: none;
  margin-bottom: 1rem;
}
.fill_form_feilds .form-control::-moz-placeholder {
  color: #727272;
}
.fill_form_feilds .form-control:-ms-input-placeholder {
  color: #727272;
}
.fill_form_feilds .form-control::placeholder {
  color: #727272;
}
.fill_form_feilds .text__area {
  border: 1px solid #B4B4E1;
  border-radius: 30px;
  padding: 2.6rem 3rem;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: black;
  margin-bottom: 2rem;
}
.fill_form_feilds .text__area::-moz-placeholder {
  color: #727272;
}
.fill_form_feilds .text__area:-ms-input-placeholder {
  color: #727272;
}
.fill_form_feilds .text__area::placeholder {
  color: #727272;
}

.input-group {
  border: 1px solid #B4B4E1;
  border-radius: 300px;
  width: 100%;
  height: 82px;
}
.input-group .form-control {
  border-left: 1px solid #B4B4E1 !important;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: black;
  padding-left: 3rem;
}
.input-group .form-control:hover {
  color: #727272;
}
.input-group .dropdown-toggle,
.input-group .dropdown-item {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  padding: 0 3rem;
}

.fill_form_tittle_small {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  color: #727272;
}

.newsletter {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}
.newsletter .btn {
  padding: 30px 40px;
  background: #6667AB !important;
  border-radius: 180px;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  letter-spacing: 0.1em;
  /* #FFFFFF */
  color: #FFFFFF;
}
.newsletter .form-control {
  margin-bottom: 0;
  margin-right: 1rem;
}

.hide__desk {
  display: none;
}

.check__btn {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.card_select {
  margin-top: 4rem;
}
.card_select .form-check-label {
  padding-left: 1rem;
}

.form-check-input:checked {
  background-color: #6667AB;
  border-color: #6667AB;
}

.form-check-input:checked[type=checkbox] {
  background-image: url("../images/ticks.svg");
  background-size: 55%;
}

.green__single {
  margin-right: 5.5rem;
}
.green__single .green svg {
  width: 7.7rem;
}

.payment__green_content .payment__green__small {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  /* identical to box height, or 29px */
  /* #000000 */
  color: #000000;
  margin-bottom: 3rem;
}
.payment__green_content .payment__green_head {
  font-weight: 300;
  font-size: 102px;
  line-height: 100%;
  /* or 102px */
  letter-spacing: -0.05em;
  /* #000000 */
  color: #000000;
  margin-bottom: 3rem;
}
.payment__green_content .payment__green_info {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */
  /* #000000 */
  color: #000000;
  margin-bottom: 4rem;
}
.payment__green_content .payment__green_info a {
  color: #6667AB !important;
}

.payment__total_after {
  margin: 4rem 0;
}
.payment__total_after .payment__total_after__head {
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #000000;
  margin-bottom: 2rem;
  font-weight: 300;
}

.payment__total_after__list li {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
}

.offcanvas.offcanvas-end {
  width: 570px;
}

.carty {
  width: 570px;
}
.carty .offcanvas-header {
  background: #6667AB;
  width: 100%;
  height: 90px;
  padding: 0px;
  justify-content: start;
}
.carty .offcanvas-header .btn-close {
  height: 100%;
  margin: 20px;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 255, 255)'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
  opacity: 1;
  border-radius: 0rem;
  width: 8.6rem;
  border-right: 1px solid #FFFFFF;
}
.carty .offcanvas-header .offcanvas-title {
  font-family: "Graphik LCG";
  padding-left: 3rem;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.carty .offcanvas-body {
  padding: 0rem 3rem !important;
}
.carty .offcanvas-body .items__layouts .items__layouts_tittle {
  max-width: 240px;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 53px;
}
.carty .offcanvas-body .items__layouts .items__layouts_tittle .items__layouts_tittle_name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
}
.carty .offcanvas-body .items__layouts .items__layouts_img {
  max-width: 102px;
}
.carty .offcanvas-body .items__layouts_prize {
  margin-left: 1rem;
}
.carty .offcanvas-body .items__layouts_prize > .items__layouts_tittle_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  /* identical to box height, or 26px */
  text-align: right;
  letter-spacing: -0.05em;
  /* #000000 */
  color: #000000;
}
.carty .offcanvas-body .items__layouts {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.carty .offcanvas-body .total__bill_amount {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16rem;
}
.carty .offcanvas-body .total__bill_amount .total__bill_amount_head {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  /* identical to box height, or 26px */
  letter-spacing: -0.05em;
  /* #000000 */
  color: #000000;
}
.carty .offcanvas-body .total__bill_amount .total__bill_amount_prize {
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  /* identical to box height, or 39px */
  text-align: right;
  letter-spacing: -0.05em;
  /* #000000 */
  color: #000000;
}
.carty .offcanvas-body .total__bill_btns {
  padding-top: 4rem;
}
.carty .offcanvas-body .total__bill_btns .total__bill_btn {
  background: #6667AB;
  border-radius: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  gap: 77px;
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.1em;
  color: #FFFFFF !important;
  margin-bottom: 1rem;
}
.carty .offcanvas-body .total__bill_btns .total__bill_btn.outline {
  border: 1px solid #6667AB;
  border-radius: 180px;
  background: white;
  color: #6667AB !important;
}

.filter__item_drop__down .dropdown-menu {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px;
  border: none;
  min-width: 164px;
  text-align: left;
  margin: 10px 0 0 0 !important;
}
.filter__item_drop__down .dropdown-menu .dropdown-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #000000 !important;
  padding: 0;
  border-bottom: 1px solid rgba(102, 103, 171, 0.3);
  text-align: left;
  justify-content: flex-start;
  width: 100%;
}
.filter__item_drop__down .dropdown-menu .dropdown-item:focus,
.filter__item_drop__down .dropdown-menu .dropdown-item:hover {
  color: #000000;
  background: rgba(102, 103, 171, 0.05);
}
.filter__item_drop__down .dropdown-menu .form-check {
  width: 100%;
}
.filter__item_drop__down .dropdown-menu .form-check .form-check-label {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  margin-top: 0 !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 15px !important;
}
.filter__item_drop__down .dropdown-menu .range__bar {
  width: 259px !important;
  height: 137px;
  background: #FFFFFF;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.filter__item_drop__down .dropdown-menu.range__bar {
  width: 259px !important;
  height: 137px;
  background: #FFFFFF;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  padding-top: 4rem !important;
}
.filter__item_drop__down .dropdown-menu.range__bar .btn_dynamic input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 29px;
  gap: 10px;
  width: 77px;
  height: 34px;
  background: rgba(102, 103, 171, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  text-align: center;
  /* #000000 */
  color: #000000;
}

.range__bar .irs--round .irs-bar {
  background-color: #6667AB;
}
.range__bar .irs--round .irs-handle {
  background-color: #6667AB;
  border-color: #6667AB;
  box-shadow: none;
}
.range__bar .irs--round .irs-handle.state_hover,
.range__bar .irs--round .irs-handle:hover {
  background-color: #6667AB;
}
.range__bar .irs--round .irs-handle {
  width: 16px;
  height: 16px;
  top: 29px;
}
.range__bar .irs--round .irs-from,
.range__bar .irs--round .irs-to,
.range__bar .irs--round .irs-single {
  background-color: transparent;
  color: #6667AB;
  display: none;
}
.range__bar .irs--round .irs-from:before,
.range__bar .irs--round .irs-to:before,
.range__bar .irs--round .irs-single:before,
.range__bar .irs--round .irs-min,
.range__bar .irs--round .irs-max {
  display: none;
}

.three__cards_head_layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 3.3rem;
  border-bottom: 1px solid rgba(102, 103, 171, 0.3);
  margin-bottom: 4rem;
}
.three__cards_head_layout .three__cards_head_layout_left {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #000000;
}
.three__cards_head_layout .three__cards_head_layout_right {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.1em;
  color: #000000;
}

.three__355 {
  width: 355px;
}

.head__border .row .mx-auto.overflow-scroll {
  overflow: hidden !important;
}

.catalogue-filter .table-responsive {
  overflow: inherit;
}

.checkBtn {
  display: flex;
  max-width: 494px;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.checkBtn li {
  padding: 0 5px 10px;
  flex: 1;
}
.checkBtn .check__btn {
  margin: 0;
}
.checkBtn .check__btn label {
  width: 154px;
  height: 62px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #F1F1F1;
}

.search-open .search__bar .form-control, .search-open .nav__bottom .shopping__bar .form-control, .nav__bottom .search-open .shopping__bar .form-control, .search-open .nav__bottom .flag__bar .form-control, .nav__bottom .search-open .flag__bar .form-control {
  width: 0px;
  padding: 15px;
  min-width: 500px;
  border: 1px solid #E0E1EE;
  transition: all 0.3s;
  font-size: 18px;
}

.menuSearch {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 0 24px 0px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  margin-top: 20px;
  border-radius: 17.18px;
  background: #fff;
  max-height: 300px;
  overflow-y: auto;
}
.menuSearch .media {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #6667AB;
}
.menuSearch .media:last-child {
  border-bottom: none;
}
.menuSearch .media .img {
  width: 73px;
  height: 73px;
}
.menuSearch .media .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.menuSearch .media .media-body {
  padding-left: 26px;
  flex: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}
.menuSearch .media .media-body p {
  margin: 0;
}

.filtered {
  display: none !important;
}

.form-check {
  padding-left: 0;
}

.filter__item_drop__down .dropdown-menu.dropdown-menu-mobile .dropdown-item {
  padding: 15px;
}/*# sourceMappingURL=main.css.map */