@media (max-width: 1710px) {
  .nav__bottom .navbar-nav {
    padding-left: 4.2rem;
    padding-right: 1.8rem;
  }
  .nav__bottom .search__bar, .nav__bottom .flag__bar, .nav__bottom .shopping__bar {
    width: 10.4rem;
  }
  .nav__bottom .shopping__bar {
    width: 20.1rem;
  }
  .section__heading.contact__pg {
    font-size: 90px;
  }
}
@media (max-width: 1610px) {
  .nav__bottom .navbar-brand {
    width: 17rem;
  }
  .nav__bottom .navbar-brand img {
    width: 85px;
  }
  .nav__bottom .navbar-nav .nav-item .nav-link {
    margin-right: 2rem;
  }
  .nav__bottom .search__bar, .nav__bottom .flag__bar, .nav__bottom .shopping__bar {
    width: 8.4rem;
  }
  .nav__bottom .shopping__bar {
    width: 18.1rem;
  }
  .section__heading.contact__pg {
    font-size: 80px;
  }
}
@media (max-width: 1510px) {
  .nav__bottom .navbar-brand {
    width: 13rem;
  }
  .nav__bottom .navbar-brand img {
    width: 75px;
  }
  .nav__bottom .navbar-nav {
    padding-left: 2.2rem;
    padding-right: 0.8rem;
  }
  .nav__bottom .navbar-nav .nav-item .nav-link {
    margin-right: 1.3rem;
  }
  .nav__bottom .search__bar {
    width: 7.4rem;
  }
  .nav__bottom .search__bar svg {
    width: 24px;
  }
  .nav__bottom .shopping__bar .buy__bar {
    position: relative;
    margin-right: 1.2rem;
  }
  .nav__bottom .flag__bar .dropdown-toggle .dropdown__img {
    width: 28px;
    height: 28px;
    margin-right: 1.1rem;
  }
  .nav__bottom .flag__bar .dropdown-toggle .dropdown__text {
    font-size: 15px;
  }
}
@media (max-width: 1400px) {
  * {
    transition: 0.3s all;
  }
  .nav__bottom .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
  .section__heading.contact__pg {
    font-size: 70px;
  }
}
@media (max-width: 1285px) {
  * {
    transition: 0.3s all;
  }
  .nav__bottom .search__bar {
    width: 4.9rem;
  }
  .nav__bottom .shopping__bar {
    width: 14.1rem;
    padding-right: 10px;
  }
  .nav__bottom .navbar-brand {
    width: 11rem;
  }
}
@media (max-width: 1200px) {
  .nav__bottom .navbar-expand-lg .navbar-collapse {
    flex-wrap: wrap;
  }
  .nav__bottom .navbar-expand-lg .navbar-collapse.h-100 {
    height: 70% !important;
  }
  .nav__bottom .navbar-expand-lg .navbar-collapse.h-100 .navbar-nav {
    height: auto !important;
  }
  .nav__bottom .navbar-nav {
    width: 100%;
  }
  .nav__bottom .flag__bar {
    margin: 0 4rem;
    border: none;
  }
  .nav__bottom .shopping__bar {
    width: 17rem;
    padding-right: 0px;
    border: none;
  }
  .nav__bottom .search__bar {
    width: 6.9rem;
    border: none;
  }
  .nav__top .navbar-nav .nav-item:nth-child(1) {
    width: 17.7rem;
  }
  .nav__top .navbar-nav .nav-item:nth-child(2) {
    width: 9.1rem;
  }
  .nav__top .navbar-nav .nav-item:nth-child(3) {
    width: 11.5rem;
  }
  .nav__top .navbar-nav .right .nav-item:nth-child(1) {
    width: 20rem;
  }
  .nav__top .navbar-nav .right .nav-item:nth-child(1) a {
    border-left: none;
  }
  .nav__top .navbar-nav .right .nav-item:nth-child(2) {
    width: 17.6rem;
  }
  .nav__top .navbar-nav .right .nav-item:nth-child(3) {
    width: 18rem;
  }
  .sub__cards .sub__card {
    padding: 0px 33px;
  }
  .sub__cards .sub__card br {
    display: none;
  }
  .sub__cards .sub__cards__layout {
    height: 13.2rem;
  }
  .cards .cards__layout .grids__cards .card .card__info {
    padding: 2rem 0;
  }
  .cards .cards__layout .grids__cards .card .card__img {
    margin-bottom: 2rem;
  }
  .cards .cards__layout .grids__cards .card {
    margin-bottom: -2rem;
  }
  .cards .cards__layout .grids__cards .card .card__info .card__info_tittle {
    font-size: 28px;
  }
  .section__tittle .section__heading {
    font-size: 48px;
    line-height: 108%;
  }
  .section__tittle .section__heading br {
    display: none;
  }
}
@media (max-width: 991px) {
  header {
    height: 99px;
    border-bottom: 1px solid #E0E1EE;
  }
  header .mobo .brand {
    display: inline-block;
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: white;
    border-right: 1px solid #E0E1EE;
  }
  header .mobo .brand img {
    width: 7.9rem;
  }
  header .mobo .mobo__shopping {
    height: 100%;
    border-left: 1px solid #E0E1EE;
    display: flex;
  }
  header .mobo .mobo__shopping .shopping__bar {
    height: auto;
    align-items: center;
    justify-content: center;
    width: 19.5rem;
  }
  .cards .cards__layout .grids__cards .e {
    padding-right: 0rem;
  }
  .cards .cards__layout .grids__cards .top__ {
    margin-top: 4rem;
  }
  .hero__layout::before {
    background: linear-gradient(180deg, #6667AB 29.85%, rgba(102, 103, 171, 0) 100%);
  }
  .hero__layout .hero__tittle {
    font-size: 48px;
    margin-bottom: 1.5rem;
  }
  .hero__layout .hero__text {
    margin-bottom: 3.5rem;
  }
  .hero__layout .hero__layer {
    padding-left: 6.4rem;
    padding-right: 3rem;
    padding-top: 9.4rem;
  }
  .sub__cards .sub__cards__layout {
    height: max-content;
    border-top: none;
    border-bottom: none;
    flex-direction: column;
  }
  .sub__cards .sub__card {
    padding: 15px 0;
  }
  .sub__card {
    padding: 15px 0;
    border-right: none;
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(102, 103, 171, 0.3);
  }
  .sub__cards .sub__card br {
    display: block;
  }
  .sub__card__img {
    margin-right: 5.4rem;
  }
  .three__cards .pe_2 {
    padding-right: 0rem;
  }
  .three__cards .ps_2 {
    padding-left: 0rem;
  }
  .three__cards.contact .hero__layout {
    margin-bottom: 2.5rem;
  }
  footer {
    height: fit-content;
  }
  .error__content .section__heading.contact__pg {
    font-size: 70px;
    margin-bottom: 1.2rem;
  }
  .error__content .error__content_text {
    margin-bottom: 2.8rem;
  }
  .section__heading.contact__pg {
    padding-bottom: 3rem;
  }
  .head__border.end__space {
    margin-bottom: 6rem;
  }
  .head__border.start__space {
    margin-top: 6rem;
  }
  .head__border .breadcrumb .breadcrumb-item {
    font-size: 16px;
  }
  .head__border .head__border__tittle {
    font-size: 32px;
    padding-bottom: 3rem;
  }
  .section__tittle.end__space .end__space {
    margin-bottom: 0rem;
  }
  .section__tittle.end__space.Ziedu {
    margin-bottom: 12rem;
  }
  .section__heading.contact__pg.text-start.riga {
    font-size: 48px;
    padding-bottom: 1rem;
  }
  .three__cards.contact {
    margin-bottom: 8rem;
  }
}
@media (max-width: 767px) {
  .hero__layout .hero__btn {
    width: 300px;
    height: 60px;
  }
  .section__tittle .section__heading {
    font-size: 38px;
    line-height: 108%;
  }
  .section__tittle .section__heading br {
    display: none;
  }
  .section__tittle .section__heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 575px) {
  .error__content .section__heading.contact__pg {
    font-size: 50px;
    text-align: start;
  }
  .error__content .error__content_text {
    margin-bottom: 3.5rem;
    line-height: 115%;
    text-align: start;
  }
  .error__content .error__btn {
    width: 100%;
    height: 65px;
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=responsive.css.map */