// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ========================== -FONTS- ================================
@font-face {
  font-family: 'Gilroy-Light';
  src: url('../font/Gilroy-Light.woff2') format('woff2'),
    url('../font/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../font/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../font/Gilroy-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../font/GraphikLCG-Light.eot');
  src: url('../font/GraphikLCG-Light.eot?#iefix') format('embedded-opentype'),
      url('../font/GraphikLCG-Light.woff2') format('woff2'),
      url('../font/GraphikLCG-Light.woff') format('woff'),
      url('../font/GraphikLCG-Light.ttf') format('truetype'),
      url('../font/GraphikLCG-Light.svg#GraphikLCG-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../font/GraphikLCG-Bold.eot');
  src: url('../font/GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/GraphikLCG-Bold.woff2') format('woff2'),
      url('../font/GraphikLCG-Bold.woff') format('woff'),
      url('../font/GraphikLCG-Bold.ttf') format('truetype'),
      url('../font/GraphikLCG-Bold.svg#GraphikLCG-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../font/GraphikLCG-Medium.eot');
  src: url('../font/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'),
      url('../font/GraphikLCG-Medium.woff2') format('woff2'),
      url('../font/GraphikLCG-Medium.woff') format('woff'),
      url('../font/GraphikLCG-Medium.ttf') format('truetype'),
      url('../font/GraphikLCG-Medium.svg#GraphikLCG-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../font/GraphikLCG-Regular.eot');
  src: url('../font/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/GraphikLCG-Regular.woff2') format('woff2'),
      url('../font/GraphikLCG-Regular.woff') format('woff'),
      url('../font/GraphikLCG-Regular.ttf') format('truetype'),
      url('../font/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// INTER 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ========================== -VAR- ==================================
$Gilroy__Light: 'Gilroy-Light';
$Gilroy__ExtraBold: 'Gilroy-ExtraBold';
$graphik_lcg_bold: 'Graphik LCG';
$graphik_lcg_light: 'Graphik LCG';
$graphik_lcg_medium: 'Graphik LCG';
$graphik_lcg_regular: 'Graphik LCG';
$Inter: 'Inter', sans-serif;


// $custom__container {}
@mixin custom__container {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
}


.Gilroy__Light {
  font-family: $Gilroy__Light;
}

.Gilroy__ExtraBold {
  font-family: $Gilroy__ExtraBold;
}

.graphik_lcg_bold {
  font-family: $graphik_lcg_bold;
}

.graphik_lcg_light {
  font-family: $graphik_lcg_light;
}

.graphik_lcg_medium {
  font-family: $graphik_lcg_medium;
}

.graphik_lcg_regular {
  font-family: $graphik_lcg_regular;
}

.primary {
  color: #6667AB !important;
  &:hover {
    color: #6667AB;
  }
}
.dark {
  color: #000000 !important;
  &:hover {
    color: #000000;
  }
}
// ===================================================================
// ========================== -FIXES- ================================
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2
}

.btn,
.form-control {
  box-shadow: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000 !important;

  &:hover {
    color: #6667AB !important;
  }
}

* {
  transition: 0.2s all;
}

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $graphik_lcg_medium;
}

.container-fluid,
.container {
  padding-left: 0;
  padding-right: 0;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #6667AB;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #6667AB;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #b0b0b0e7;
  }

body {
  ::selection {
    background: rgba(255, 255, 255, 0.747);
    color: #6667AB !important;
  }
}  

// ===================================================================
// ===================================================================
// ===================================================================
// ====================== HEADER =====================================
header {
  height: 166px;
}

.nav__top {
  padding: 0px 40px;
  border-bottom: 1px solid #E0E1EE;

  .navbar-nav {
    .nav-item {
      .nav-link {
        display: inline-block;
        border-right: 1px solid #E0E1EE;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 100%;

        @extend .graphik_lcg_light;
      }

      &:nth-child(1) {
        width: 22.7rem;
      }

      &:nth-child(2) {
        width: 11.1rem;
      }

      &:nth-child(3) {
        width: 15.5rem;
      }

      &:nth-child(4) {
        width: 15.5rem;
      }

      &:nth-child(6) {
        width: 19.6rem;
      }

      &:nth-child(7) {
        width: 22rem;
        border-right: none !important;
      }
    }

    .right .nav-item {
      .nav-link {
        display: inline-block;
        border-right: 1px solid #E0E1EE;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 100%;
        @extend .graphik_lcg_light;
      }

      &:nth-child(1) {
        width: 23rem;

        a {
          border-left: 1px solid #E0E1EE;
        }
      }

      &:nth-child(2) {
        width: 19.6rem;
      }

      &:nth-child(3) {
        width: 22rem;

        a {
          border: none;
        }
      }
    }

    .form-control {
      border: none;
      border-radius: 0;
      border-right: 1px solid #E0E1EE;
      padding-left: 40px;
    }

    button {
      top: 50%;
      right: 0;
      translate: 0% -50%;
      margin-right: 31px;

      svg {
        fill: #6667AB;
      }
    }
  }
}

.nav__bottom {
  height: 11rem;
  border-bottom: 1px solid #E0E1EE;

  // padding-left: 43px;
  // padding-right: 43px;
  .navbar-brand {
    width: 19rem;
    height: 100%;
    border-right: 1px solid #E0E1EE;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);

    img {
      width: 104px;
    }

  }

  .navbar-nav {
    padding-left: 5.2rem;
    padding-right: 5.8rem;
    border-right: 1px solid #E0E1EE;

    .nav-item {
      .nav-link {
        height: 100%;
        padding-left: 0;
        padding-right: 0px;
        margin-right: 3rem;
        @extend .graphik_lcg_medium;
      }
    }
  }

  .search__bar {
    width: 11.4rem;
    height: 100%;
    border-right: 1px solid #E0E1EE;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shopping__bar {
    @extend .search__bar;
    width: 23.1rem;

    .buy__bar {
      position: relative;
      margin-right: 2.2rem;

      .add__number {
        position: absolute;
        top: -0.9rem;
        right: -0.9rem;
        width: 22px;
        height: 22px;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        font-weight: 700;
        font-size: 10px;
        line-height: 100%;
        font-family: $Inter;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }

  .flag__bar {
    @extend .search__bar;
    margin: auto;
    border: none;

    .dropdown-toggle {
      .dropdown__img {
        width: 34px;
        height: 34px;
        margin-right: 1.4rem;
        filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
      }

      .dropdown__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
      }
    }

    .dropdown-toggle::after {
      content: none;
    }

    .dropdown-menu {
      width: 150%;
      translate: -15% 0%;
      margin-top: 2rem;
      border: 1px solid #DCDCDC;
      border-radius: 5px;
      filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
      background: white;
      padding: 0;
      position: absolute;

      &::before {
        content: "";
        position: absolute;
        top: -1rem;
        right: 50%;
        border-width: 0 5px 10px 5px;
        border-color: transparent transparent #DCDCDC transparent;
        border-style: solid;
        z-index: 9;
      }

      .dropdown-item {
        padding: 12px 17px;
        border-bottom: 1px solid #DCDCDC;
        display: flex;
        justify-content: start;
        align-items: center;

        .dropdown__img {
          width: 18px;
          height: 18px;
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15)) !important;
          margin-right: 0.8rem;
        }

        .dropdown__text {
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
          @extend .Gilroy__Light;

        }

        &:hover {
          background: rgba(45, 150, 220, 0.05);
        }
      }
    }
  }
}

// ===================================================================
// ===================================================================
// ===================================================================


.mobo .shopping__bar {
  width: 23.1rem;
  display: flex;

  .buy__bar {
    position: relative;
    margin-right: 2.2rem;

    .add__number {
      position: absolute;
      top: -0.9rem;
      right: -0.9rem;
      width: 22px;
      height: 22px;
      background: #FFFFFF;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      font-weight: 700;
      font-size: 10px;
      line-height: 100%;
      font-family: $Inter;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}

.mobile {
  .offcanvas {
    .offcanvas-header {
      height: 66px;
      border-bottom: 1px solid #E0E1EE;

      .btn-close {
        margin: 20px;
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(102, 103, 171)'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
        opacity: 1;
        border-radius: 0rem;
        width: 25px !important;
      }

    }

    .offcanvas-body {
      padding: 0;
      padding-bottom: 4rem;

      .serach__menu {
        margin: auto;
        margin-top: 30px;
        width: calc(100% - 30px);

        .form-control {
          width: calc(100% - 10px);
          height: 82px;
          border: 1px solid #B4B4E1;
          border-radius: 300px;
          margin: auto;
          padding-left: 30px;
          font-weight: 300;
          font-size: 16px;
          line-height: 160%;
          @extend .graphik_lcg_light;

          &::placeholder {
            color: #727272;
          }
        }

        button {
          right: 30px;
          top: 50%;
          translate: -0% -50%;
          background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(102, 103, 171)'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
          opacity: 1;
          border-radius: 0rem;
        }

      }

      .menu {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 3rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid #6667AB;

        li {
          margin-bottom: 15px;

          a {
            font-size: 18px;
            line-height: 18px;
            font-family: $graphik_lcg_medium;
            color: #000000;
          }
        }
      }

      .flag {
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-left: 30px;
        padding-right: 30px;

        .flag__img {
          width: 34px;
          height: 34px;
          margin-right: 16px;
        }

        .flag__text {
          font-weight: 500;
          font-size: 18px;
          line-height: 18px;
          color: #000000;
          font-family: $graphik_lcg_medium;
        }
      }
    }
  }

}

// ===================================================================
// ===================================================================
// ===================================================================
.hero {
  margin: 8rem auto;
  width: 100%;
  overflow: hidden;
}
.hero__layout {
  // @include custom__container();
  height: 600px;
  background-image: url(../images/banner.webp);
  background-size: cover;
  border-radius: 10px;
  position: relative;

  &::before {
    content: "";
    border-radius: 10px;
    // z-index: ;
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #6667AB 29.85%, rgba(102, 103, 171, 0) 100%);

  }

  .hero__layer {
    position: relative;
    height: 100%;
    display: flex;
    padding-left: 8.4rem;
    padding-top: 10.4rem;
  }

  .hero__tittle {
    font-size: 102px;
    line-height: 90%;
    letter-spacing: -0.05em;
    font-family: $graphik_lcg_light;
    margin-bottom: 4.2rem;
    color: #FFFFFF;
    font-weight: 300;
  }

  .hero__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    margin-bottom: 5.6rem;
  }


}
.hero__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  height: 73px;
  border: 1px solid #FFFFFF;
  border-radius: 180px;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #FFFFFF !important;

  span {
    width: 19px;
  }

  &:hover {
    color: #bdbfda !important;

    span {
      margin-right: -8px;
    }
  }
}

.sub__cards {
  .sub__cards__layout {
    // @include custom__container();
    height: 11.2rem;
    border-top: 1px solid rgba(102, 103, 171, 0.3);
    border-bottom: 1px solid rgba(102, 103, 171, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.sub__card {
  padding: 0px 44px;
  border-right: 1px solid rgba(102, 103, 171, 0.3);
  width: max-content;
}
.sub__card__tittle {
  font-weight: 500;
font-size: 20px;
line-height: 130%;
font-family: $graphik_lcg_medium;
}



.cards {
  margin: 8rem auto;
  .cards__layout {
    // @include custom__container();
    .grids__cards {
      .e {
        padding-right: 4rem;
      }
      .card {
        width:100%;
        border-radius: 10px;
        border: none;
        margin-top: 6rem;
        // margin-right: 4rem;
        // margin-left: 2rem;
        margin-bottom: 6rem;
        .card__img {
          margin-bottom: 3rem;
        }
        .card__info {
          border-top: 1px solid rgba(102, 103, 171, 0.3);
          border-bottom: 1px solid rgba(102, 103, 171, 0.3);
          padding: 4rem 0;
          display: flex; justify-content: space-between;
          align-items: center;
          .card__info_no {
            color: #000000;

          opacity: 0.4;
          font-weight: 500;
          font-size: 20px;
          line-height: 130%;
          font-family: $graphik_lcg_medium;
          margin-right: 5rem;
          margin-bottom: 0;

          }
          .card__info_tittle {
            color: #000000;
            font-weight: 300;
            font-size: 32px;
            line-height: 90%;
            letter-spacing: -0.05em;
            font-family: $graphik_lcg_light;
            margin-bottom: 0;
          }
          .card__info_arrow {
            width: 46px;
height: 46px;
background: #6667AB;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
svg {
  fill: white;
}
          }
        }
      }
      .top__ {
        margin-top: -9rem;
      }
      
    }
  }
}

.section__tittle {
  
  .section__heading{
    font-family: $graphik_lcg_light;
    font-weight: 300;
font-size: 52px;
line-height: 120%;
text-align: center;
letter-spacing: -0.05em;
color: #000000;
span {
  color: #9F9F9F;

}
margin-top: 8rem;
  margin-bottom: 8rem;
  }
}


.pe_2 {
  padding-right: 2rem;
}
.ps_2 {
  padding-left: 2rem;
}

.three__cards  {
  margin-top: 8rem;
  .hero__layout {
    height: fit-content;
    .hero__layer {
      padding-left: 5.1rem;
      padding-right: 2rem;
      padding-top: 9.1rem;
    }
  }
  .hero__layout.fif {
    margin-bottom: 8rem;
    .hero__tittle {
      font-family: $graphik_lcg_light;
      margin-bottom: 5.1rem;
.hero__tittle__fif {
  font-family: $graphik_lcg_light;
  font-weight: 300;
font-size: 52px;
line-height: 90%;

letter-spacing: -0.05em;


color: #FFFFFF;
}
.discount {
font-size: 112px;
line-height: 90%;
font-family: $graphik_lcg_light;
      font-weight: 300;
      margin-right: 15px;
}
    }

  }
  .hero__layout.big {
    .hero__layer {
      padding-top: 10.9rem;
      padding-left: 8.4rem;
    }
    
    height: 695px;
    .hero__tittle {
      font-family: $graphik_lcg_light;
      font-weight: 300;
font-size: 102px;
line-height: 90%;
margin-bottom: 3rem;
    }
    .hero__text {
      margin-bottom: 6.6rem;
    }
  }
}

.hero__btn.md {
  width: 253px;
height: 74px;
margin-bottom: 6.3rem;
font-weight: 700;
font-size: 18px;
font-family: $graphik_lcg_bold;
}
.section__contact {

  li {
    margin-right: 9rem;
    &:last-child {
    list-style: disc;

      &::marker {
        color: #6667AB;
        font-size: 5.5rem;
      }
    }
    a {
      font-family: $graphik_lcg_light;
      font-weight: 300;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.05em;
    }
  }
}

.three__cards.contact {
  margin-bottom: 16rem;
  .hero__layout {
    background-image: none;
    margin-bottom: 0;
    &::before {
      content: none;
    }
  }
}
footer {
  width: 100%;
  height: 468px;
  background: #6667AB;
  padding: 3.4rem 8.1rem;
  .footer__logo {
    width: 20rem;
    margin-bottom: 2.2rem;
    margin-left: -1.5rem;
  }
  .footer__media_link {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    li {
      margin-right: 7px;
      width: 29px;
height: 29px;
    }
  }
  .footer__media_card {
    display: flex;
    align-items: center;
    
    li {
      width: 61px;
      margin-right: 1.1rem;
    }
  }
  .footer__invent {
    font-family: $graphik_lcg_light;
    font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 160%;
color: #FFFFFF;

  }
  .footer__menu {
    font-family: $graphik_lcg_light;
    font-weight: 300;
font-size: 25px;
line-height: 90%;
/* or 22px */
margin: 0;

letter-spacing: -0.05em;
margin-bottom: 3rem;

/* #FFFFFF */

color: #FFFFFF;
  }
  .footer__menu_list {
    li {
margin-bottom: 1rem;

      a {
        font-weight: 300;
font-size: 14px;
line-height: 100%;
/* or 22px */


color: #FFFFFF;
&:hover {
  color: #aba2ffcb !important;
}
      }
    }
  }
  .footer__inner_m {
    margin-top: 3rem;
  }
  .tapy {
    
    li {
      margin-right: 7.3rem;
    }
  }
}
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
.section__heading.contact__pg {
  font-weight: 300;
font-size: 102px;
letter-spacing: -0.05em;
}
.head__border {
  .head__border__tittle {
    font-weight: 300;
font-size: 52px;
line-height: 90%;
letter-spacing: -0.05em;
color: #000000;
padding-bottom: 4rem;
border-bottom: 1px solid rgba(102, 103, 171, 0.3);

  }
  .breadcrumb {
    margin-bottom: 3rem;
    .breadcrumb-item {
      font-weight: 300;
      font-size: 18px;
      line-height: 130%;
      color: #000000;
    }
  }
}
.start__space {
  margin-top: 8rem;
}
.end__space {
  margin-bottom: 8rem;
}

.contact__time {
  margin-bottom: 4rem;
  .contact__time_small {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: #727272;
    margin-bottom: 1rem;
  }
  .contact__time_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #000000;
    margin-bottom: 0;
  }

}
.contact__info{
    .contact__info__bold_text{
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #000000;
    }
    .contact__info_text {
      font-weight: 300;
      font-size: 18px;
      line-height: 160%;
      color: #000000;
      margin-bottom: 0;
    }
}
.error__layout {
  width: 100%;
  height: 600px;
  background-image: url(../images/error.webp);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: right;
}
.error__content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -55%;
  width: 80%;
  .error__content_head {
    margin-bottom: 2rem;
    line-height: 100%;
    text-align: center;
  }
  .error__content_text {
    margin-bottom: 4rem;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;

  }
  .error__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }
}
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
// ===================================================================
.pgs__menu {
  padding-right: 3rem;
  .pgs__menu_item {
    border-bottom: 1px solid rgba(102, 103, 171, 0.3);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    // max-width: 260px;
    width: 100%;
    .pgs__menu_link {
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      color: #000000;
    }
  }
}
.filter__item_layout {
  // position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
}
.filter__item {
  background: #B4B4E1;
  border-radius: 200px;
  width: 62.05px;
  height: 35.05px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // =============
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #6667AB;
  margin-top: 0.7rem;
  margin-left: 3rem;
}
.bb__line {
  border-bottom: 1px solid rgba(102, 103, 171, 0.3);

}
.filter__item_drop__down {
  .dropdown {
    width: 163.58px;
    height: 35px;
    border: 1px solid #A4A4A4;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 0.7rem;

      font-weight: 300;
font-size: 18px;
line-height: 130%;
color: #A4A4A4 !important;

      svg {
        fill: #A4A4A4;
        margin-right: 0.7rem;
      }
    }
    
  }
  .dropdown-menu.show {
    display: block;
    top: 0.7rem !important;
  }
  .dropdown-toggle::after {
    margin-left: 0.6rem;
    vertical-align: .255em;
    border-top: 0.5rem solid;
    border-right: 0.5rem solid transparent;
    border-bottom: 0;
    border-left: 0.5rem solid transparent;
  }
}
.dropy__nav {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  .filter__item_drop__down {
    margin-right: 2rem;
  }

}
.product__card {
  // width: 355px;
  width: 100%;
  margin-bottom: 4rem;
  // height: 410px;
  .product__card_img {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 2rem;
    position: relative;
    .product__card_template {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.508);
      padding: 2rem;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      .product__card_green_badge {
        background: rgba(48, 192, 69, 0.6);
        border-radius: 5px;
        width: fit-content;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 26px;

        font-weight: 500;
        font-size: 12px;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
      }
      .product__card_white_badge {
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          fill:  #6667AB;
        }
      }
      .b__space {
        margin-bottom: 8px;
      }
      translate: 100%;
    }
  }
  .product__card_divider {
    height: 1px;
    width: 100%;
    opacity: 0.3;
    background: #6667AB;
  }
  .product__card_content {
    text-align: center;
  }
  .product__card_content_tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }
  .product__card_content_prize {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #6667AB;
    margin-bottom: 0.3rem;
  }
}
.products {
  margin: 0 -20px;
}
.products [class*="col"] {
  padding:0 20px ;
  flex: 1 0 33%;
}

.load__more {
  .page-item {
    margin-right: 1rem;
    .page-link {
      border: none;
      box-shadow: none;
      font-weight: 500;
font-size: 20px;
line-height: 130%;
text-align: center;
color: #FFFFFF;
padding: 10px 18px;
      &:hover {
        background: #6667AB;
        border-radius: 5px;
        color: white !important;
        svg {
          fill: #ffffff;
        }
      }
      &:active {
        background: white;
      }
    }
  }
  .arrow {
    svg {
      fill: #6667AB;
    }
  }
}